name: Snyk Security Scan

on:
  push:
    branches: [ "main" ]

jobs:
  snyk-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: npm install

    - name: Install Snyk CLI
      run: npm install -g snyk

    - name: Run Snyk Test
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      run: snyk test
